body {
  background: black;
  color: white;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: 120%;
  min-height: 565px;
}

#resetButton {
  font-size: 30%;
  background: red;
  position: fixed;
  top: 5%;
  padding: 2%;
}

#selectTeam {
  margin-top: 10%;
}

#prompt {
  font-size: 100%;
}

.playerJoin {
  padding: 2%;
  font-size: 120%;
}
.playerJoin:hover {
  background-color: white;
  color: red;
  cursor: pointer;
}

#RPSMenu {
  position: fixed;
  bottom: 25%;
  left: 50vw;
  margin-left: -180px;
}

.iChooseYou {
  height: 120px;
  opacity: 0.4;
}
.iChooseYou:hover {
  opacity: 1;
}
.choseYou {
  opacity: 1;
}

@media screen and (max-width: 670px) {
  body {
    font-size: 80%;
  }
  #selectTeam {
    margin-top: 20%;
  }
  #RPSMenu {
    margin-left: -120px;
  }
  .iChooseYou {
    width: 80px;
    height: auto;
  }
}

.gray {
  color: gray;
}
