body {
  background: black;
  color: white;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: 120%;
}

#resetButton {
  font-size: 30%;
  background: red;
  position: fixed;
  top: 5%;
  padding: 2%;
}

#selectTeam {
  margin-top: 10%;
}

.playerJoin {
  padding: 2%;
  font-size: 120%;
}
.playerJoin:hover {
  background-color: white;
  color: red;
  cursor: pointer;
}

img {
  height: 100%;
}

@media screen and (max-width: 670px) {
  body {
    font-size: 80%;
  }
  #selectTeam {
    margin-top: 20%;
  }
}

.gray {
  color: gray;
}
